<script setup>
import { RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import IconLogo from './components/icons/IconLogo.vue'
</script>

<template>
  <header>
    <icon-logo class="logo" />
  </header>

  <h1 class="title">Распознавание и выравнивание номеров нового поколения</h1>

  <div class="service_about">
    <p class="service_about-title">Распознавание номеров с использованием алгоритмов позволяет быстро обрабатывать большое количество автомобильных номеров</p>
  </div>

  <div class="image-container">
    <img class="image" src="/images/macbook.png" />
  </div>

  <img class="block1" src="/images/block1.png" />
  <img class="block2" src="/images/block2.png" />
  <img class="block3" src="/images/block3.png" />

  <h2 class="subtitle">Вы можете попробовать наш сервис тут</h2>
  <RouterView />
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  margin-left: auto !important;
  margin-right: auto !important;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.title {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  line-height: 64px;
  background: linear-gradient(90deg, #FCB82B 0%, #9F8754 50%, #2E2829 100%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 64px;
  background: linear-gradient(90deg, #FE963C 0%, #FD5028 50%, #2E2829 100%);
  -webkit-background-clip: text;
  color: transparent;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  
  margin-bottom: 160px;
}

.service_about {
  position: absolute;
  left: 10%;
  top: 35%;

  display: flex;
  width: 500px;

  background-color: #FCB82B;
  padding: 25px;
  border-radius: 20px;
}

.service_about-title {
  font-weight: bold;
  font-size: 20px;
}

.block1 {
  position: absolute;

  left: 0;
  top: 50%;
}

.block2 {
  position: absolute;

  right: 0;
  top: 10%;
}

.block3 {
  position: absolute;

  left: 0;
  top: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
  }

  .logo {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-right: 0 !important;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
