<script setup>
import { ref, reactive, computed } from 'vue';
import { UploadFilled } from '@element-plus/icons-vue'
import { ElIcon, ElTable, ElTableColumn, ElPagination } from 'element-plus'
import * as Papa from 'papaparse';

const fileUpload = ref(null)

const csv = reactive({
  data: null
})

const apiURL = import.meta.env.VITE_API_URL

const getImage = (filename, normalized) => {
  if(normalized) {
    return `${apiURL}/normalized/${filename}`
  }

  return `${apiURL}/default_images/${filename}`
}

const download = (blob, filename = 'output') => {
  const url = window.URL.createObjectURL(blob);
  const a = document.createElement('a');
  a.style.display = 'none';
  a.href = url;
  a.download = filename;
  document.body.appendChild(a);
  a.click();
  document.body.removeChild(a);
  window.URL.revokeObjectURL(url);
}

const generateAndDownloadCSV = () => {
  const csvContent = Papa.unparse(csv.data);
  const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
  download(blob, 'output.csv');
}

const resetState = () => {
  csv.data = null;
  currentPage.value = 1;
}

const uploadFile = async (event) => {
  resetState();

  const files = event.target?.files || [event]
  if(files.length) {
    const data = new FormData()
    await Promise.all(
      Array.from(files).map(async (file) => {
        const uploadedFile = new File([file], encodeURIComponent(file.name));
        data.append('files', uploadedFile, uploadedFile.name)
      })
    )

    const params = {
      method: 'POST',
      body: data,
    }

    return await fetch(`${apiURL}/images/normalize`, params)
      .then(response => {
        const blob = response.clone()
        const text = response.clone()

        text.text()
          .then(v => {
            csv.data = Papa.parse(v).data
            generateAndDownloadCSV()
          })
          .catch(err => console.log(err))

        blob.blob().then(blob => {
          download(blob)
        })
      })
  }
}

const triggerFileInput = () => {
  fileUpload.value.click();
}

// Параметры для пагинации
const currentPage = ref(1)
const pageSize = ref(10)

const paginatedData = computed(() => {
  if (!csv.data) return [];
  const start = (currentPage.value - 1) * pageSize.value;
  const end = start + pageSize.value;
  return csv.data.slice(1).slice(start, end);
})

const totalItems = computed(() => {
  return csv.data ? csv.data.length - 1 : 0;
})
</script>

<template>
  <div>
    <h3 class="upload__title">Загрузка данных</h3>
    <input 
      ref="fileUpload" 
      name='files[]' 
      multiple 
      accept="image/png, image/jpeg, image/jpg"
      @change="uploadFile" 
      type="file"
      style="display: none;"
    />
    <el-upload
      class="upload-demo uploader__upload"
      name='files[]'
      drag
      disabled
      multiple
      accept="image/png, image/jpeg, image/jpg"
      :auto-upload="false"
      @click="triggerFileInput"
    >
      <el-icon class="el-icon--upload">
        <upload-filled />
      </el-icon>

      <div class="el-upload__text">
        Перетащите файл или <em>нажмите для загрузки</em>
      </div>
    </el-upload>

    <h1 v-if="csv.data" class="upload__title">Обработанные данные</h1>

    <el-table class="table" v-if="csv.data" :data="paginatedData">
      <el-table-column
        prop="0"
        label="Название файла"
        width="500">
      </el-table-column>
      <el-table-column
        label="Исходное изображение"
        width="500">
        <template #default="{ row }">
          <img :src="getImage(row[0])" alt="" width="200">
        </template>
      </el-table-column>
      <el-table-column
        label="Нормализованное изображение"
        width="500">
        <template #default="{ row }">
          <img :src="getImage(row[0], true)" alt="" width="200">
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      v-if="csv.data"
      class="pagination"
      style="text-align: center; margin-top: 20px;"
      background
      layout="prev, pager, next"
      :total="totalItems"
      v-model:current-page="currentPage"
      v-model:page-size="pageSize"
    />
  </div>
</template>

<style>
.upload__title {
  text-align: center;
  margin-bottom: 20px;  
}

.uploader__upload {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px !important;
  margin-bottom: 40px !important;
}

.el-upload-dragger {
  background-color: #F5F7FA !important;
  width: 500px !important;
}

.table {
  margin-bottom: 50px;
}

.pagination {
  display: flex;
  justify-content: center;

  margin-bottom: 100px;
}
</style>
